CONFIG VCCAUX  = 3.3;

NET "clk" TNM_NET = "clk";
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50 %;

NET "clk" LOC = P56;
NET "clk" IOSTANDARD = LVTTL;
NET "rst_n" LOC = P50;
NET "rst_n" IOSTANDARD = LVTTL;
NET "rst_n" PULLUP;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "green_button" LOC = P51;
NET "green_button" IOSTANDARD = LVTTL;
NET "green_button" PULLUP;
NET "switch" LOC = P120;
NET "switch" IOSTANDARD = LVTTL;
NET "switch" PULLDOWN;

NET "io_seg[0]" LOC = P12;
NET "io_seg[0]" IOSTANDARD = LVTTL;
NET "io_seg[1]" LOC = P2;
NET "io_seg[1]" IOSTANDARD = LVTTL;
NET "io_seg[2]" LOC = P7;
NET "io_seg[2]" IOSTANDARD = LVTTL;
NET "io_seg[3]" LOC = P11;
NET "io_seg[3]" IOSTANDARD = LVTTL;
NET "io_seg[4]" LOC = P14;
NET "io_seg[4]" IOSTANDARD = LVTTL;
NET "io_seg[5]" LOC = P10;
NET "io_seg[5]" IOSTANDARD = LVTTL;
NET "io_seg[6]" LOC = P5;
NET "io_seg[6]" IOSTANDARD = LVTTL;
NET "io_seg[7]" LOC = P9;
NET "io_seg[7]" IOSTANDARD = LVTTL;

NET "io_sel[0]" LOC = P1;
NET "io_sel[0]" IOSTANDARD = LVTTL;
NET "io_sel[1]" LOC = P6;
NET "io_sel[1]" IOSTANDARD = LVTTL;
NET "io_sel[2]" LOC = P8;
NET "io_sel[2]" IOSTANDARD = LVTTL;
NET "io_sel[3]" LOC = P15;
NET "io_sel[3]" IOSTANDARD = LVTTL;

NET "io_seghs[0]" LOC = P33;
NET "io_seghs[0]" IOSTANDARD = LVTTL;
NET "io_seghs[1]" LOC = P22;
NET "io_seghs[1]" IOSTANDARD = LVTTL;
NET "io_seghs[2]" LOC = P26;
NET "io_seghs[2]" IOSTANDARD = LVTTL;
NET "io_seghs[3]" LOC = P32;
NET "io_seghs[3]" IOSTANDARD = LVTTL;
NET "io_seghs[4]" LOC = P34;
NET "io_seghs[4]" IOSTANDARD = LVTTL;
NET "io_seghs[5]" LOC = P30;
NET "io_seghs[5]" IOSTANDARD = LVTTL;
NET "io_seghs[6]" LOC = P23;
NET "io_seghs[6]" IOSTANDARD = LVTTL;
NET "io_seghs[7]" LOC = P29;
NET "io_seghs[7]" IOSTANDARD = LVTTL;

NET "io_selhs[0]" LOC = P21;
NET "io_selhs[0]" IOSTANDARD = LVTTL;
NET "io_selhs[1]" LOC = P24;
NET "io_selhs[1]" IOSTANDARD = LVTTL;
NET "io_selhs[2]" LOC = P27;
NET "io_selhs[2]" IOSTANDARD = LVTTL;
NET "io_selhs[3]" LOC = P35;
NET "io_selhs[3]" IOSTANDARD = LVTTL;


NET "led[0]" LOC = P134;
NET "led[0]" IOSTANDARD = LVTTL;
NET "led[1]" LOC = P133;
NET "led[1]" IOSTANDARD = LVTTL;
NET "led[2]" LOC = P132;
NET "led[2]" IOSTANDARD = LVTTL;
NET "led[3]" LOC = P131;
NET "led[3]" IOSTANDARD = LVTTL;
NET "led[4]" LOC = P127;
NET "led[4]" IOSTANDARD = LVTTL;
NET "led[5]" LOC = P126;
NET "led[5]" IOSTANDARD = LVTTL;
NET "led[6]" LOC = P124;
NET "led[6]" IOSTANDARD = LVTTL;
NET "led[7]" LOC = P123;
NET "led[7]" IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45;
NET "spi_miso" IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
NET "spi_channel[0]" LOC = P46;
NET "spi_channel[0]" IOSTANDARD = LVTTL;
NET "spi_channel[1]" LOC = P61;
NET "spi_channel[1]" IOSTANDARD = LVTTL;
NET "spi_channel[2]" LOC = P62;
NET "spi_channel[2]" IOSTANDARD = LVTTL;
NET "spi_channel[3]" LOC = P65;
NET "spi_channel[3]" IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59;
NET "avr_rx" IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;
